@use "../../styles/partials/variabls" as *;
@use "../../styles/partials/mixins" as *;

.discount {
  background-color: $prep-flavor-2;
  color: white;
  &__offer {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    @include desktop {
      padding-bottom: 20px;
    }
  }
  &__break {
    @include desktop {
      display: none;
    }
  }
}
